<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Tweets</title>
  </head>
  <body>
    <ul>
      <% tweets.forEach(tweet => { %>
      <li>
        <%= tweet.content %> by <%= tweet.author %> created at: <%=
        tweet.created_at %>
      </li>
      <% }) %>
    </ul>

    <div>
      <a href="/new">create new</a>
    </div>
  </body>
</html>
