<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Tweets</title>
  </head>
  <body>
    <h2>Add new Tweet</h2>
    <form action="/new" method="POST">
      <label for="author">Athor</label>
      <input type="text" name="author" id="author" />

      <label for="content">Content:</label>
      <input type="text" name="content" id="content" />

      <button type="submit">add</button>
    </form>

    <div>
      <a href="/">back to homepage</a>
    </div>
  </body>
</html>
